<!doctype html>
<html>
<head>
    <title>LANDING PAGE</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
</head>
<body>
    <div class="bg">
    </div>
    <div class="header">
        <div class="container">
            <div class="logo">
                <h1><a href="/landing">ACCOUNTABLE FORM 51</a></h1>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="/form">FORM</a></li>
                    <li><a href="/logs">LOGS</a></li>
                    <li><a href="/query">QUERY</a></li>
                    <li><a href="/user">USER</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>THIS IS FORM</center>
</body>
</html>