{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    DELETE ACCOUNT
{% endblock %}

{% block content %}
    <center>
        <form action="/deleteaccount" method="POST">
            <br>
            INPUT ID NO.<input type="text" name="id" required>
            <input type="submit" value="OK">
        </form><br><br><br>
        <h5>REFER TO THE TABLE BELOW</h5>
        <table border="3">
            <thead>
                <th><center>ID</center></th>
                <th><center>USERNAME</center></th>
                <th><center>LAST NAME</center></th>
                <th><center>ROLE</center></th>
            </thead>
            {% for user in myUser %}
                <tr>
                    <td><center>#{{ user.id }}</center></td>
                    <td><center>{{ user.username }}</center></td>
                    <td><center>{{ user.lastname }}</center></td>
                    <td><center>{{ user.officerrole }}</center></td>
                </tr>
            {% endfor %}
        </table>
    </center>
{% endblock %}

