<!DOCTYPE>
<html lang="en">
<head>
    <title>UPDATE ACCOUNT</title>
</head>
<body>
    <center>
        <form action="/createaccount" method="POST">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.firstname) }}
            {{ wtf.form_field(form.middlename) }}
            {{ wtf.form_field(form.lastname) }}
            {{ wtf.form_field(form.password) }}
            {{ wtf.form_field(form.repeatpass) }}
            {{ wtf.form_field(form.officerrole) }}
        <input type="submit" value="SUBMIT">
        </form>
    </center>
</body>
</html>